{% load static %}
<html>
    <head>
        <title>send email</title>
        <script src="http://code.jquery.com/jquery-1.8.3.js"></script>
        <script src="{% static 'js/common.js' %}?{% now "U" %}"></script>
        <script src="{% static 'js/ajaxSend.js' %}?{% now "U" %}"></script>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/send.css' %}?{% now "U" %}">
    </head>
    <body>
        <p class="top-menu">Здравствуйте, {{ user.username }} !
            <input type="button" class="button" id="logout" value="Выйти">
        </p>
        <h1>Форма отправки сообщения</h1>
        <div id="result" class="message-box"></div>
        <div class="form">
            <div class="row">
                <label class="signature" for="email">Эл. почта</label>
                <input id="email" type="text">
            </div>
            <div class="row">
                <label class="signature" for="text">Сообщение</label>
                <textarea id="text" type="text"></textarea>
            </div>
            <div class="row">
              <input type="button" class="button" id="send" value="Отправить">
            </div>
        </div>
    </body>
</html>