h1 {
    margin: 2px;
    text-align: left;
    font-weight: bold;
    font-size: 12pt;
    width: 450px;
}
p {
    margin: 2px;
}
.message-box{
    padding: 6px;
    display: none;
    text-align: left;
    width: 225px;
    font-size: 9pt;
}
.form {
    padding-top: 5%;
    padding-bottom: 5%;
    text-align: center;
    border: 1px solid black;
    width: 225px;
    height: 400px;
    height: initial;
    font-size: 9pt;
}
@media screen and (min-width: 450px) {
  .form {
    width: 50%;
  }
  .message-box {
    width: 50%;
  }
  h1 {
    width: 50%;
  }
}
.row {
    width: 50%;
    margin: 3px;
    display: inline-block;
    text-align: right;
}
.row > input[type="text"], .row > textarea {
    width: 100%;
}
.error {
    color: red;
}
.success {
    color: green;
}
.button {
    border: 1px solid black;
    background-color: Transparent;
}
#result:hover {
    opacity: 1;
}
#text {
    height: 20%;
    resize: none;
}

#tab2{position: fixed; }
.tabs > a { line-height: 28px; background: #fff; text-decoration: none; }
.tabs > a,
.tabs #tab2:target ~ a:nth-of-type(1),
.tabs > div { padding: 5px; border: 1px solid #aaa; }
.tabs > a:nth-of-type(1),
.tabs #tab2:target ~ a:nth-of-type(2)
{ border-bottom: 2px solid #fff; }
#tab2,
.tabs > div,
.tabs #tab2:target ~ div:nth-of-type(1){display: none; }
.tabs > div:nth-of-type(1),
.tabs #tab2:target ~ div:nth-of-type(2){ display: block; }
