h1 {
    text-align: left;
    font-weight: bold;
    font-size: 12pt;
    width: 450px;
}
.form {
    padding-top: 5%;
    padding-bottom: 5%;
    text-align: center;
    border: 1px solid black;
    width: 225px;
    height: 400px;
    height: initial;
    font-size: 9pt;
}
@media screen and (min-width: 450px) {
  .form {
    width: 50%;
  }
  h1 {
    width: 50%;
  }
}
.border {
    display: inline-block;
    text-align: right;
}
#send {
    border: 1px solid black;
    background-color: Transparent;
}
#email, #text, .border, label{
    width: 60%;
    margin: 3px;
}
#text {
    height: 20%;
    resize: none;
}
