{% load static %}
<html>
    <head>
        <title>send email</title>
        <script src="http://code.jquery.com/jquery-1.8.3.js"></script>
        <script src="{% static 'js/ajaxSend.js' %}?{% now "U" %}"></script>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/send.css' %}?{% now "U" %}">
    </head>
    <body>
        <div class="tabs">
            <br id="tab2">
            <a href="#tab1">Авторизация</a>
            <a href="#tab2">Регистрация</a>
            <div class="form">
                <label class="signature" id="result">Result</label>
                <label class="signature" for="login">Логин</label>
                <input id="login" type="text">
                <label class="signature" for="password">Пароль</label>
                <input id="password" type="text"></textarea>
                <div class="border">
                    <input type="button" class="button" id="login" value="Войти">
                </div>
            </div>
            <div class="form">
                <label class="signature" id="result">Result</label>
                <label class="signature" for="login">Логин</label>
                <input id="login" type="text">
                <label class="signature" for="password">Пароль</label>
                <input id="password" type="text"></textarea>
                <label class="signature" for="repeat">Повторите пароль</label>
                <input id="repeat" type="text"></textarea>
                <div class="border">
                    <input type="button" class="button" id="register" value="Регистрация">
                </div>
            </div>
        </div>
    </body>
</html>